<div class="col s12">
    <h2 class="header">{{ post.title }}</h2>
    <div class="card horizontal">
        <div class="card-image">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="responsive-img materialboxed">
            {% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="col s12 m10">
                    <p>{{ post.description }}</p>
                </div>
                <div class="col s12 m2 hide-on-med-and-down">
                    <span>
                        <i class="material-icons">comments</i>
                        {{ quantity }}
                    </span>
                </div>
            </div>
            <div class="card-action">
                <a href="{% url 'posts:datail_view' post.slug %}">Leer</a>
            </div>
        </div>
    </div>
</div>