{% url 'users:login' as login %}
{% url 'users:logout' as logout %}
{% url 'users:register' as register %}
{% url 'profiles:profile' as profile %}
{% url 'posts:post' as post %}

<ul id="slide-out" class="sidenav sidenav-fixed">
    {% if user.is_authenticated %}
        <li class="{% if request.path == post %}active{% endif %}"><a class="waves-effect" href="{{ post }}"><i
                class="material-icons">comment</i>Publicaciones</a>
        </li>
        <li class="{% if request.path == profile %}active{% endif %}"><a class="waves-effect" href="{{ profile }}"><i
                class="material-icons">person</i>Perfil</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="{{ logout }}"><i
                class="material-icons">logout</i>Cerrar Sesion</a>
        </li>
    {% else %}
        <li class="{% if request.path == login %}active{% endif %}"><a class="waves-effect" href="{{ login }}"><i
                class="material-icons">login</i>Iniciar Sesion</a>
        </li>
        <li class="{% if request.path == register %}active{% endif %}"><a class="waves-effect" href="{{ register }}"><i
                class="material-icons">person_add</i>Registrarse</a>
        </li>
    {% endif %}
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>